@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #130507;
    --text-color: #dfdefb;
    --second-color: #eb8593;
    --main-color: #e4303b;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header a {
    font-size: 25px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.header a:hover{
    color: var(--main-color);
    transition: .5s
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.item {
    display: flex;
    justify-content: space-between;
    float: right;
}

.item a {
    font-size: 18px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.item a:hover,
.item a.active {
    color: var(--main-color);
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
    gap: 50px;
}

.home-content {
    max-width: 600px;    
}

.home-content p:nth-of-type(1){
    font-size: 16px;
    color: var(--main-color);
    margin: 0 0 10px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 25px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color: var(--second-color);
}

.home-content p:nth-of-type(2){
    font-size: 16px;
    margin: 20px 0 20px;
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 8px;
    font-size: 19px;
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box a:hover {
    color: var(--main-color);
}

.btn-box a:nth-child(2){
    background-color: transparent;
    color: var(--main-color);
}

.btn-box a:nth-child(2):hover{
    color: var(--bg-color);
}

.btn-box a:nth-child(2)::before{
    background: var(--main-color);
}

.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before{
    width: 100%;
}

